---
layout: default
---
<article class="post">
    <!-- Вначале идет заголовок челленджа -->
    <div class="challenge-header">
        <h1 class="challenge-title">🔥2025 Learn + Blog EVERY DAY for 366 days!💻</h1>
    </div>

    <!-- Затем заголовок поста и метаданные -->
    <h1 class="post-title">{{ page.title }}</h1>
    
    <div class="post-meta">
        <span class="post-author">{{ site.author }}</span>
        <span class="separator">·</span>
        <span class="post-date">{{ page.date | date: "%B %-d, %Y" }}</span>
    </div>

    {% if page.tags %}
        {% include tags.html %}
    {% endif %}

    <div class="entry">
        {{ content }}
    </div>
</article>